<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=urf-8" />
<title>Flask 表单示例</title>
</head>
    <body>
	<form action = "http://192.168.1.3:8090/result" method = "POST">
	    <p>姓名 <input type = "text" name = "Name" /></p>
	    <p>物理分数 <input type = "text" name = "Physics" /></p>
	    <p>化学分数 <input type = "text" name = "Chemistry" /></p>
	    <p>数学分数 <input type = "text" name = "Mathematics" /></p>
	    <p><input type =  "submit"  value = "提交" /></p>
	</form>
    </body>
</html>
